<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tbopen</string>
		<string>tmall</string>
		<string>itmall</string>
		<string>baidumobads</string>
		<string>yuedongapp</string>
		<string>openapp.jdmobile</string>
		<string>openApp.jdMobile</string>
		<string>sinaweibo</string>
		<string>sinaweibohd</string>
		<string>sinaweibosso</string>
		<string>sinaweibohdsso</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>wtloginmqq2</string>
		<string>mqq</string>
		<string>mqqapi</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqconnect</string>
		<string>mqqopensdkdataline</string>
		<string>mqqopensdkgrouptribeshare</string>
		<string>mqqopensdkfriend</string>
		<string>mqqopensdkapi</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqzoneopensdk</string>
		<string>wtloginmqq</string>
		<string>wtloginmqq2</string>
		<string>mqqwpa</string>
		<string>mqzone</string>
		<string>mqzonev2</string>
		<string>mqzoneshare</string>
		<string>wtloginqzone</string>
		<string>mqzonewx</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapi</string>
		<string>mqzoneopensdk</string>
		<string>weixin</string>
		<string>wechat</string>
		<string>alipay</string>
		<string>alipayshare</string>
		<string>taobao</string>
		<string>itaobao</string>
		<string>dianping</string>
		<string>jummei</string>
		<string>jumeimall</string>
		<string>meituan0000</string>
		<string>iMeituan</string>
		<string>imeituan</string>
		<string>suning</string>
		<string>vipshop</string>
		<string>yhd</string>
		<string>lightsky</string>
		<string>shark.video</string>
		<string>bobo</string>
		<string>snssdk32</string>
		<string>pptv</string>
		<string>bilibili</string>
		<string>kugouURL</string>
		<string>gaeagj</string>
		<string>qqnews</string>
		<string>zhihu</string>
		<string>doubanradio</string>
		<string>sohunews</string>
		<string>yanxuan</string>
		<string>wccbyihaodian</string>
		<string>dangdang</string>
		<string>kaola</string>
		<string>ctrip</string>
		<string>kuaikanmanhua</string>
		<string>gugutouchmanga</string>
		<string>qrxs</string>
		<string>lvmama</string>
		<string>wbmain</string>
		<string>jcnhers</string>
		<string>shanbay</string>
		<string>mailmaster</string>
		<string>yddict</string>
		<string>yixin</string>
		<string>ydcourse</string>
		<string>ntesopen</string>
		<string>mogujie</string>
		<string>YLVideos</string>
		<string>VideoPaper</string>
		<string>bytedance</string>
		<string>wdkhema</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>您的位置将用于获取更好的广告</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>您的位置将用于获取更好的广告</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>需要获取您设备的广告标识符，以为您提供更好的广告体验</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>238da6jt44.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>22mmun2rn5.skadnetwork</string>
		</dict>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
